{%extends "base.html"%}
{%block title%}Home page{%endblock%}
{%block content%}
<h3 align = "center">EV Charger battery plotter </h3>
<p align = "center">Please submit the number of seconds you want to plot the current battery voltage of your EV </p>
<form onsubmit = "load()" action = "#" method = "post">
	<p align = "center">Seconds:
	<input type = "text" name = "secs" id = "secs" /></p>
	<p align = "center"><input type = "submit" value = "Plot" /></p>
</form>

<h1 align = "center" id="count">
<span id = "secs"></span>
</h1>
<script type="text/javascript">
	function load(){
	var counter =Number(document.getElementById("secs").value);
	setInterval( function(){
		counter--;
		if( counter >= 0 ){
			id = document.getElementById("count");
			id.innerHTML = counter;
		}
		if( counter === 0 ){
			id.innerHTML = "Plotting...";
		}
	}, 1000);}
</script>


{%endblock%}
